.gallery{
    display:flex;
    flex-wrap:wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content:center;
    margin-top:40px;
}
.gallery > img{
    height:450px;
    width:450px;
    object-fit:cover;
    /* margin:15px 0; */
}